
Demo_ExtractFigures
Demo_ExtractFigures2
Demo_Groupphotos
Demo_Groupphotos2
Demo_Statistics2/Open_Slides_Statistics
Demo_Statistics

Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.blg
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.aux
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.log
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.nav
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.out
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.snm
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.synctex.gz
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.toc
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.vrb
*.toc
*.out
*.aux
*.bbl
*.log
*.blg
*.vrb
*.snm
*.nav
*.bcf
*.xml
*.synctex.gz
.gitpub

Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.aux
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.aux
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.blg
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.log
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.nav
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.out
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.snm
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.synctex.gz
Talk-LeChen-Graduate-Seminar-Auburn-2023-02-15.toc